*.aps
*.exe
*.exp
*.ilk
*.opensdf
*.sdf
*.suo
*.svg
*.pdb
*.user
# New Visual Studio 2015 intellisense DB files
# http://blogs.msdn.com/b/vcblog/archive/2015/11/11/new-improved-and-faster-database-engine.aspx
*.VC.db
symsrv.yes
*.lastcodeanalysissucceeded
vs-chromium-project.txt

# VS 2015 drops these
*.VC.opendb
**/.vs/*

Debug/
Release/
ipch/

*.cod
*.obj
~*.*

# Ignore NuGet Packages
*.nupkg

# Ignore the packages folder
**/packages/*

# Include packages/build/, which is used as an MSBuild target
!**/packages/build/
